@font-face {
  font-family: "Spoof";
  src: url("./font/Spoof-Regular.eot");
  src: local("Spoof Regular"), local("Spoof-Regular"),
    url("./font/Spoof-Regular.eot?#iefix") format("embedded-opentype"),
    url("./font/Spoof-Regular.woff2") format("woff2"),
    url("./font/Spoof-Regular.woff") format("woff"),
    url("./font/Spoof-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Spoof";
  src: url("./font/Spoof-Medium.eot");
  src: local("Spoof Medium"), local("Spoof-Medium"),
    url("./font/Spoof-Medium.eot?#iefix") format("embedded-opentype"),
    url("./font/Spoof-Medium.woff2") format("woff2"),
    url("./font/Spoof-Medium.woff") format("woff"),
    url("./font/Spoof-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Spoof";
  src: url("./font/Spoof-Light.eot");
  src: local("Spoof Light"), local("Spoof-Light"),
    url("./font/Spoof-Light.eot?#iefix") format("embedded-opentype"),
    url("./font/Spoof-Light.woff2") format("woff2"),
    url("./font/Spoof-Light.woff") format("woff"),
    url("./font/Spoof-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Spoof";
  src: url("./font/Spoof-Bold.eot");
  src: local("Spoof Bold"), local("Spoof-Bold"),
    url("./font/Spoof-Bold.eot?#iefix") format("embedded-opentype"),
    url("./font/Spoof-Bold.woff2") format("woff2"),
    url("./font/Spoof-Bold.woff") format("woff"),
    url("./font/Spoof-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Spoof";
  src: url("./font/Spoof-Thin.eot");
  src: local("Spoof Thin"), local("Spoof-Thin"),
    url("./font/Spoof-Thin.eot?#iefix") format("embedded-opentype"),
    url("./font/Spoof-Thin.woff2") format("woff2"),
    url("./font/Spoof-Thin.woff") format("woff"),
    url("./font/Spoof-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Spoof";
  src: url("./font/Spoof-Black.eot");
  src: local("Spoof Black"), local("Spoof-Black"),
    url("./font/Spoof-Black.eot?#iefix") format("embedded-opentype"),
    url("./font/Spoof-Black.woff2") format("woff2"),
    url("./font/Spoof-Black.woff") format("woff"),
    url("./font/Spoof-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
